.desktop {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.desktop .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1440px;
    height: 1024px;
    position: relative;
}

.desktop .overlap-group {
    position: absolute;
    width: 1017px;
    height: 434px;
    top: 414px;
    left: 212px;
    background-color: #118e91;
    border-radius: 20px;
}

.desktop .overlap {
    position: absolute;
    width: 249px;
    height: 54px;
    top: 359px;
    left: 386px;
}

.desktop .button-login {
    background: none;
    outline: none;
    border: none;
    width: 244px;
    height: 53px;
    background-color: #8bcbcc;
    border-radius: 15px;
    text-align: center;
    color: #8bcbcc
}

.desktop .p {
    position: absolute;
    width: 943px;
    height: 241px;
    top: 43px;
    left: 33px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #535050;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .overlap-2 {
    position: absolute;
    width: 1450px;
    height: 179px;
    top: -2px;
    left: -8px;
    background-color: #047b73;
}

.desktop .image {
    position: absolute;
    width: 317px;
    height: 177px;
    top: 2px;
    left: 52px;
    object-fit: cover;
}

.desktop .line {
    position: absolute;
    width: 13px;
    height: 13px;
    top: 90px;
    left: 749px;
    object-fit: cover;
}

.desktop .text-wrapper-2 {
    position: absolute;
    width: 951px;
    height: 90px;
    top: 279px;
    left: 242px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #535050;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}
